@font-face {
  font-family: "RedHatBold";
  src: local("RedHatBold"), url(../fonts/RedHatDisplay-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "RedHatBlack";
  src: local("RedHat"), url(../fonts/RedHatDisplay-Black.ttf) format("truetype");
}

@font-face {
  font-family: "RedHatMedium";
  src: local("RedHat"), url(../fonts/RedHatDisplay-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "RedHat";
  src: local("RedHat"), url(../fonts/RedHatDisplay-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../fonts/Roboto-Regular.ttf) format("truetype");
}

body {
  margin: 0;
}

.App {
  text-align: center;
  background-color: #000000;
  font-family: RedHatBold !important;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: Redhat;
}

.gameLobby {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
  font-family: RedhatBold;
}

.gameScreen {
  height: 100%;
  width: 85%;
}

.gameScreenContainer {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  flex-direction: column;
  color: white;
}

.gameScreenChatContainer {
  height: 20%;
}

.waitingText {
  font-size: 32px;
}

.question {
  font-size: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.answerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.gameScreenHeader {
  display: flex;
  font-size: 32px;
  color: white;
  max-height: 10%;
}

.gameScreenLogoContainer {
  width: 20%;
  text-align: left;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.gameScreenLogo {
  color: #7cd0ff;
  font-size: 80px;
  padding-right: 16px;
}

.gameScreenRound {
  width: 80%;
  justify-content: center;
  align-items: center;
}

.startButtonContainer {
  width: 50%;
  margin-top: auto;
}

.memberSidebar {
  width: 15%;
  height: 100%;
  color: white;
  min-width: 200px;
}

.memberSidebarTitle {
  padding-top: 9px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waitingRoomSidebarTitle {
  padding-top: 32px;
  padding-bottom: 32px;
}

.memberItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
  padding-left: 40px;
  box-sizing: border-box;
}

.memberAvatar {
  border-radius: 50px;
  margin-right: 12px;
  height: 40px;
  background: white;
  border: 3px solid white;
}

.gameLobbyNameFieldInput {
  color: white !important;
}

.button {
  background-color: white !important;
}

.createOrJoinLobbyContainer {
  display: flex;
  height: 100%;
  padding: 128px;
  box-sizing: border-box;
}

.introductionSection {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  flex-wrap: wrap;
  padding: 56px;
  box-sizing: border-box;
}

.introTitleContainer {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 80px;
  padding-top: 0px;
  padding-bottom: 32px;
  box-sizing: border-box;
}

.introIcon {
  filter: invert(100%);
  justify-content: center;
  align-items: center;
  display: flex;
  color: #7cd0ff;
  font-size: 200px;
  font-family: RedHatBlack;
  padding-right: 64px;
}

.introIcon svg {
  font-size: 220px;
  color: #7cd0ff;
}

.introTitle {
  width: 50%;
  word-spacing: 100000px;
  line-height: 90px;
  font-size: 72px;
  font-weight: bolder;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: RedHatBlack;
}

.introContent {
  height: 50%;
  width: 100%;
  font-size: 21px;
  text-align: justify;
  line-height: 32px;
  font-family: RedHat;
  padding: 80px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.extraPlayerText {
  padding-top: 00px;
  font-family: RedHatMedium;
}

.divider {
  background-color: #7cd0ff;
  border-radius: 8px;
  position: absolute;
  right: 0;
  height: 100%;
  width: 6px;
}

.dividerSmall {
  background-color: #7cd0ff;
  border-radius: 8px;
  position: relative;
  right: 0;
  height: 6px;
  width: 100%;
  margin-bottom: 32px;
}

.createOrJoinSection {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px;
  box-sizing: border-box;
}

.createJoin {
  width: 100%;
  padding-left: 40px;
}

.createJoinButtonsContainer {
  padding-top: 24px;
  box-sizing: border-box;
}
.createJoinButtonsContainerSmall {
  display: none;
}

.textFieldContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.textFieldSmallContainer {
  position: relative;
}

.textFieldContainerSmall {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  flex-wrap: wrap;
  width: 100%;
}

.backArrow {
  position: absolute;
  left: 0%;
  top: -6px;
  font-size: 32px;
  color: #3c81b9;
}

.textFieldContainerSmall .textField input {
  height: 0px;
  padding: 16.5px 12px;
}

.textFieldContainerSmall .textFieldIcon {
  height: 26px;
  padding-right: 20px;
}

.textFieldContainerSmall .textFieldTitle {
  font-size: 14px;
}

.textField {
  width: 40%;
  font-family: Roboto !important;
}

.answerTextField {
  width: 40%;
  font-family: Roboto !important;
}

.answerTextField input {
  height: 4px;
  background-color: white;
  color: black;
  border-radius: 20px;
}

.answerTextField :hover fieldset {
  border-radius: 16px;
  border: 2px solid #3c81b9 !important;
}

.answerTextField :focus-within fieldset {
  border-radius: 16px;
  border: 3px solid #3c81b9 !important;
}

.answerTextField .Mui-focused fieldset {
  border-radius: 16px;
  border: 3px solid #3c81b9 !important;
}

.textField input {
  height: 4px;
  background-color: white;
  color: black;
  border-radius: 20px;
}

.textField :hover fieldset {
  border-radius: 20px;
}

.textField .Mui-focused fieldset {
  border-radius: 16px;
  border: 3px solid #3c81b9 !important;
}

.textFieldTags {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 45%;
}

.textFieldError {
  width: 45%;
  min-height: 20px;
}

.textFieldError2 {
  color: #ecbebe;
  min-height: 20px;
  width: 100%;
  font-size: 13px;
  font-family: RedHat;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 45%;
}

.textFieldIcon {
  font-size: 42px !important;
  filter: invert(100%);
  height: 44px;
  padding-right: 36px;
}

.textField :hover fieldset {
  border-radius: 16px;
  border: 2px solid #3c81b9 !important;
}

.textField :focus-within fieldset {
  border-radius: 16px;
  border: 3px solid #3c81b9 !important;
}

.textFieldTitle {
  padding-right: 24px;
}

.startButton {
  width: 30% !important;
  margin: 12px !important;
  background-color: #7cd0ff !important;
  color: black !important;
  font-weight: bold !important;
  font-family: RedHat !important;
  text-transform: none !important;
  border: 3px solid #7cd0ff !important;
  border-radius: 22px !important;
  font-size: 15px !important;
}

.createButton {
  width: 30% !important;
  margin: 12px !important;
  background-color: #7cd0ff !important;
  color: black !important;
  font-weight: bold !important;
  font-family: RedHat !important;
  text-transform: none !important;
  border: 3px solid #7cd0ff !important;
  border-radius: 22px !important;
  font-size: 15px !important;
}

.joinButton {
  width: 30% !important;
  margin: 12px !important;
  background-color: #000000 !important;
  color: white !important;
  border: 3px solid #7cd0ff !important;
  font-weight: bold !important;
  font-family: RedHat !important;
  text-transform: none !important;
  border-radius: 22px !important;
  font-size: 15px !important;
}

.submitAnswerButton {
  width: 30% !important;
  margin: 12px !important;
  background-color: #7cd0ff !important;
  color: black !important;
  font-weight: bold !important;
  font-family: RedHat !important;
  text-transform: none !important;
  border: 3px solid #7cd0ff !important;
  border-radius: 22px !important;
  font-size: 15px !important;
}

.createButtonSmall {
  width: 70% !important;
  margin: 12px !important;
  background-color: #7cd0ff !important;
  color: black !important;
  font-weight: bold !important;
  font-family: RedHat !important;
  text-transform: none !important;
  border: 3px solid #7cd0ff !important;
  border-radius: 22px !important;
  font-size: 15px !important;
  margin-top: 8px !important;
}

.joinButtonSmall {
  width: 70% !important;
  margin: 12px !important;
  background-color: #7cd0ff !important;
  color: black !important;
  font-weight: bold !important;
  font-family: RedHat !important;
  text-transform: none !important;
  border: 3px solid #7cd0ff !important;
  border-radius: 22px !important;
  font-size: 15px !important;
}
.hideButtonSmall {
  width: 70% !important;
  margin: 12px !important;
  background-color: #000000 !important;
  color: white !important;
  border: 3px solid #7cd0ff !important;
  font-weight: bold !important;
  font-family: RedHat !important;
  text-transform: none !important;
  border-radius: 22px !important;
  font-size: 15px !important;
}

/* Medium-Big Screen */
@media (max-width: 1767px) {
  .createOrJoinLobbyContainer {
    padding: 96px;
  }
  .introductionSection {
    padding: 32px;
  }
  .createOrJoinSection {
    padding: 32px;
  }
}

/* Medium-Small Screen */
@media (max-width: 1562px) {
  .createOrJoinLobbyContainer {
    padding: 64px;
  }
  .introductionSection {
    padding: 16px;
  }
  .createOrJoinSection {
    padding: 16px;
  }
}

/* Medium-Small Screen */
@media (max-width: 1270px) {
  .createOrJoinLobbyContainer {
    flex-wrap: wrap;
    padding: 32px;
  }
  .textFieldContainer {
    display: none;
  }
  .textFieldError2 {
    padding-left: 35%;
  }
  .divider {
    bottom: 0;
    height: 6px;
    width: 100%;
  }
  .createJoin {
    padding: 0px;
  }
  .introTitleContainer {
    height: auto;
    padding: 16px;
    padding-bottom: 32px;
  }
  .introContent {
    height: auto;
    padding: 16px;
  }
  .introductionSection {
    width: 100%;
  }
  .createOrJoinSection {
    width: 100%;
    padding-top: 32px;
  }
  .textFieldTags {
    width: 35%;
  }
  .textFieldError {
    width: 35%;
  }
  .createJoinButtonsContainer {
    display: none;
  }
  .createJoinButtonsContainerSmall {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0px;
  }
  .joinButton {
    flex-basis: 50%;
  }
  .createButton {
    flex-basis: 50%;
  }
}

/* Medium-Small Screen */
@media (max-width: 890px) {
  .textFieldTags {
    width: 35%;
  }
}

/* Small-Small Screen */
@media (max-width: 750px) {
  .textFieldTags {
    width: 45%;
  }
  .textFieldError {
    width: 45%;
  }
  .textFieldError2 {
    padding-left: 45%;
  }
}

/* Small - Extra Small */
@media (max-width: 650px) {
  .createOrJoinLobbyContainer {
    height: 100%;
  }
  .introTitleContainer {
    padding-bottom: 8px;
  }
  .introContent {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 24px;
    line-height: 24px;
  }
  .introductionSection {
    padding: 8px;
  }
  .createOrJoinSection {
    padding-top: 24px;
  }
  .createOrJoinLobbyContainer {
    padding: 8px;
  }
  .textFieldError {
    width: 100%;
    min-height: 0px;
  }
  .textFieldError2 {
    padding-left: 0%;
  }

  .joinButton {
    flex-basis: 70%;
  }
  .createButton {
    flex-basis: 70%;
  }

  .introTitle {
    font-size: 10vw;
    line-height: 60px;
  }
  .introIcon {
    width: 30vw;
    padding-right: 20px;
  }
  .textFieldContainer {
    flex-wrap: wrap;
    padding-bottom: 24px;
    padding-top: 0px;
  }
  .textFieldTags {
    flex-basis: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
  }
  .textField {
    flex-basis: 70%;
  }
}

/* Specific Devices Height hackfix */
/* Ipad */
@media (height: 1024px) and (width: 768px) {
  .App {
    height: 100vh;
  }
  .createOrJoinLobbyContainer {
    height: 100vh;
  }
}

/* Ipad Pro */
@media (height: 1366px) and (width: 1024px) {
  .App {
    height: 100vh;
  }
  .createOrJoinLobbyContainer {
    height: 100vh;
  }
}

@media (min-height: 300px) and (max-height: 700px) and (max-width: 650px) {
  .App {
    height: 100%;
  }
}
